<html>
<head>
    <title>Flask for Fun</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div><a href="/">Home</a></div>
        <div>
            <h2>Pick the category, language, and number of jokes to hear</h2>
        </div>
        <form method="POST">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="category" value="Category">Category</label>
                    <select name="category"  class="form-control" id="selCat">
                        {% for cat in categories %}
                            <option value="{{ cat }}">{{ cat }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-4 form-group">
                    <label for="language" value="Language">Language</label>
                    <select name="language" class="form-control" id="selLang">
                        {% for lang in languages %}
                        <option value="{{ lang }}">{{ lang }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="number" value="Number">Number</label>
                    <select name="number" class="form-control" id="selNum">
                        {% for num in numbers %}
                        <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit" class="btn btn-primary mt-3" id="btnAmuse" value="Tell me a joke">Amuse me</button>
                </div>
            </div>
        </form>
        <div id="jokes">
        {% block content %}
            <!-- This is a placeholder for jokes -->
             {% if error_message %}
                    <p>
                        {{ error_message }}
                     </p> 
            {% endif %}   
        {% endblock %}
           
        </div>
    </div>
</body>

</html>