{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Add New Product</h2>
    <form method="post" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="item" class="form-label">Item:</label>
        <input type="text" class="form-control" id="item" name="item" required>
      </div>
      <div class="mb-3">
        <label for="available" class="form-label">Available:</label>
        <select name="available" class="form-select">
          <option value="Yes" selected>Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="species" class="form-label">Species:</label>
        <input type="text" class="form-control" id="species" name="species" required>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="text" class="form-control" id="price" name="price" required>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
      </div>
      <div class="mb-3">
        <label for="image_url" class="form-label">Image URL:</label>
        <input type="text" class="form-control" id="image_url" name="image_url" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>
{% endblock %}
